p {
    font-family: 'Space Mono', monospace;
}
.flex-grid {
    display: flex;
    justify-content: space-around;
}

.caption {
    text-align: center;
    font-style: italic;
}
img {
    width: 400px;
    height: 300px;
}